@font-face {
    font-family: Montserrat;
    src: url(Fraunces/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Fraunces;
    src: url(Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}


body {
    width: 1440px;
    background-color:  hsl(30, 38%, 92%);
}

body p {
    Font-size: 14px;
    margin-bottom: 1.0em;
    color: hsl(228, 12%, 48%);
    
}

.altura {
    margin-top: 150px;
    margin-left: 470px;
    border-radius: 100px;
    
    

}

h3 {
    padding: 10px 5px 10px 0px;
    line-height: 0.9em;
    font-weight: bold;
    
    
}

h6 {
    letter-spacing: 0.5em;
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 10px;
    color: hsl(228, 12%, 48%);
}

img {
    height: 365px;
    width: 250px;
    float: left;
    border-radius: 10px 0px 0px 10px;
}
 
#valor {
    font-family: Fraunces;
    font-size: 25px;
    color: hsl(158, 36%, 37%);
    float: left;
    margin-bottom: 15px;
    font-weight: bold;
} 

#valor2 {  
    margin: 0px;
    padding-left: 15px;
    margin-top: 10px;
    font-family: Montserrat;
    font-size: 12px;
    color: black;
    float: left;
}

a span {
    font-size: 12px;
    font-weight: bold;
}
a img {
    height: 15px;
    width: 12px;
    border-radius: 0px;
    margin: 5px -40px 0px 30px;
    }

.tamanho {
    height: 365px;
    width: 250px;
    background: white;
    float: left;
    padding-left: 25px;
    padding-right: 30px;
    border-radius: 0px 10px 10px 0px;

}

.attribution {
    font-size: 11px;
    text-align: right;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.btn {
    width: 190px;
    background-color: hsl(158, 88%, 10%)
        
}








/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .altura {
        margin-left: auto;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   body{ 
    width: 800px;
}}